root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{js,jsx,ts,tsx,json,yml,yaml}]
max_line_length = 100

[*.ts]
quote_style = single

[*.cs]
indent_size = 4
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.IDE0055.severity = error
dotnet_analyzer_diagnostic.severity = error
csharp_new_line_before_members_in_object_initializers = true
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
